<div class="ethereum-landing" id="ethereum-tiles">
    <div class="ethereum-tile" id="ethereum-tile-reference">
        <div class="ethereum-tile-inner">
            <h1><a ui-sref="page.reference.index">Reference</a></h1>
            <ul>
                <li ng-repeat="project in projects"><a href="" ng-click="openProject(project)">{{project.summary.name}}</a></li>
            </ul>
        </div>
    </div>
    <div class="ethereum-tile" id="ethereum-tile-wiki">
        <div class="ethereum-tile-inner">
            <h1><a ui-sref="page.wiki.index">Wiki</a></h1>
            <ul>
                <li ng-repeat="book in books"><a href="" ng-click="openBook(book)">{{book.summary.name}}</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="ethdev-landing" style="display: none;"></div>