<div class="ethereum-landing">
    <div class="ethereum-landing-inner">

        <div class="ethereum-landing-reference">
            <h1>Reference</h1>
            <ul>
                <li ng-repeat="project in projects">
                    <a ui-sref="page.reference.project.index({version:project._version,project:project.slug})">{{project.summary.name}}</a>
                </li>
            </ul>
        </div>
        <div class="ethereum-landing-wiki">
            <h1>Wiki</h1>
            <ul>
                <li ng-repeat="book in books">
                    <a ui-sref="page.wiki.book.index({book:book.slug,language:'english'})">{{book.summary.name}}</a>
                </li>
            </ul>
        </div>
        <div class="ethereum-landing-logo"></div>
    </div>
</div>