<div class="row">
    <img src="/images/wikis.png" class="img-responsive">
</div>

<div class="row ethereum-dynamic-breadcrumbs">
    <div class="col-md-6">
        <ui-select ng-model="selection.wiki" theme="bootstrap" on-select="setWiki()">
            <ui-select-match placeholder="Select wiki">{{$select.selected.slug}}</ui-select-match>
            <ui-select-choices repeat="wiki.slug as wiki in wikis">
                <span ng-bind-html="wiki.slug | highlight: $select.search"></span>
            </ui-select-choices>
        </ui-select>
    </div>
    <div class="col-md-6">
        <ui-select ng-model="selection.page" theme="bootstrap" on-select="setPage()" ng-disabled="!selection.wiki || !pages.length">
            <ui-select-match placeholder="Select page">{{$select.selected.slug}}</ui-select-match>
            <ui-select-choices repeat="page.slug as page in pages">
                <span ng-bind-html="page.slug | highlight: $select.search"></span>
            </ui-select-choices>
        </ui-select>
    </div>
</div>

<div ui-view=""></div>