<div class="row ethdocs-page">
    <div class="col-sm-4 ethdocs-page-dropdown">
        <ui-select ng-model="selection.book" theme="bootstrap" on-select="setBook()" style="margin-bottom:30px;">
            <ui-select-match placeholder="Select book">{{$select.selected.slug}}</ui-select-match>
            <ui-select-choices repeat="book.slug as book in books">
                <span ng-bind-html="book.slug | highlight: $select.search"></span>
            </ui-select-choices>
        </ui-select>
    </div>
    <div class="col-sm-4 ethdocs-page-dropdown">
        <ui-select ng-model="selection.language" theme="bootstrap" on-select="setLanguage()" ng-disabled="!selection.book" style="margin-bottom:30px;">
            <ui-select-match placeholder="Select book">{{$select.selected.slug}}</ui-select-match>
            <ui-select-choices repeat="language.slug as language in languages">
                <span ng-bind-html="language.slug | highlight: $select.search"></span>
            </ui-select-choices>
        </ui-select>
    </div>
    <div class="col-md-4 hidden-sm hidden-xs ethdocs-page-sidebar pull-right" ng-hide="!selection.book">
        <div class="sidebar-inner">
            <blaze-template name="spinner" ng-hide="pages.length"></blaze-template>
            <ethereum-wiki-sidebar pages="pages" selection="selection" ng-if="pages.length"></ethereum-wiki-sidebar>
        </div>
    </div>
    <div class="col-md-8 col-sm-12 ethdocs-page-content">
        <div class="content-inner">
            <div ui-view=""></div>
        </div>
    </div>
</div>
