<div class="ui-select-container ui-select-bootstrap dropdown ng-valid open" theme="bootstrap">
    <ul class="ui-select-choices ui-select-choices-content ui-select-dropdown dropdown-menu ui-compound-sidebar">
        <li class="ui-select-choices-group">
            <div class="ui-select-choices-row" ng-class="{active: selection.page == link.slug}" ng-repeat="link in links">
                <a ui-sref="page.wiki.book.page({book:selection.book,language:selection.language,page:link.slug})" class="ui-select-choices-row-inner"><span class="language" ng-class="link.language"></span> <span>{{link.name}}</span></a>
            </div>
        </li>
    </ul>
</div>