<div class="row ethdocs-page">
    <div class="col-sm-4 ethdocs-page-dropdown">
        <ui-select ng-model="selection.book" theme="bootstrap" on-select="setBook()" style="margin-bottom:30px;">
            <ui-select-match placeholder="Select book">{{$select.selected.slug}}</ui-select-match>
            <ui-select-choices repeat="book.slug as book in books">
                <span ng-bind-html="book.slug | highlight: $select.search"></span>
            </ui-select-choices>
        </ui-select>
    </div>
    <div class="col-sm-4 ethdocs-page-dropdown">
        <ui-select ng-model="selection.language" theme="bootstrap" on-select="setLanguage()" ng-disabled="!selection.book" style="margin-bottom:30px;">
            <ui-select-match placeholder="Select language">{{$select.selected}}</ui-select-match>
            <ui-select-choices repeat="language in languages">
                <span style="text-transform: capitalize;" ng-bind-html="language | highlight: $select.search"></span>
            </ui-select-choices>
        </ui-select>
    </div>
    <div class="col-xs-12 col-sm-4 ethdocs-page-sidebar pull-right">
        <ethereum-wiki-sidebar pages="pages" selection="selection" ng-if="pages.length"></ethereum-wiki-sidebar>
    </div>
    <div class="col-md-8 col-sm-12 ethdocs-page-content">
        <div class="content-inner">
            <div ui-view=""></div>
        </div>
    </div>
</div>
