<div class="row ethereum-dynamic-breadcrumbs">
    <div class="col-md-8">
        <ui-select ng-model="selection.book" theme="bootstrap" on-select="setBook()" style="margin-bottom:30px;">
            <ui-select-match placeholder="Select book">{{$select.selected.slug}}</ui-select-match>
            <ui-select-choices repeat="book.slug as book in books">
                <span ng-bind-html="book.slug | highlight: $select.search"></span>
            </ui-select-choices>
        </ui-select>
    </div>
    <div class="col-md-4 pull-right" ng-hide="!selection.book">
        <blaze-template name="spinner" ng-hide="pages.length"></blaze-template>
        <ethereum-wiki-sidebar pages="pages" selection="selection" ng-if="pages.length"></ethereum-wiki-sidebar>
    </div>
    <div class="col-md-8">
        <div ui-view="" style="overflow: hidden;"></div>
    </div>
</div>
