// Bootstrap settings
@import '_variables';

.navbar-brand {
  display: block;
  float: left;
  width: 180px;
  height: 50px;
  background: url('/images/ethereum_text_only.svg') no-repeat center;
  background-size: 85%;
}

.navbar-inverse {
  .navbar-nav {
    line-height: 16px;
    padding: 0;
    list-style: none;
    & > li {
      & > a {
        color: #9f9f9f;
        &:hover, &:focus, &:active {
          background: none;
          color: #cecece;
        }
      }
      &.active {
        & > a {
          background: none;
          color: #cecece;
          &:hover, &:focus, &:active {
            background: none;
            color: #cecece;
          }
        }
      }
    }
  }
}

.ethereum-header-graphic {
  display: none;
}

.ethereum-dynamic-breadcrumbs {
  margin-top: 30px;
  margin-bottom: 30px;
}