*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body, html {
  font-size: 100%;
  padding: 0;
  margin: 0;
  height: 100%;
}

body {
  color: #333;
  background: #333;
  font-size: 0.9em;
  font-weight: 300;
  overflow-y: hidden;
}

.fullscreen {
  position: absolute;
  left: 0;
  right: 0;
  top: 50px;
  bottom: 0;
  overflow-y: scroll;
}

.animated {
  -webkit-animation: fadein 0.5s;
  -moz-animation: fadein 0.5s;
  -ms-animation: fadein 0.5s;
  -o-animation: fadein 0.5s;
  animation: fadein 0.5s;
}

//background: #484c4e;
$tile-background: #2a2a2c;
$tile-separator-dark-color: darken($tile-background, 10%);
$tile-separator-light-color: lighten($tile-background, 10%);

.ethereum-landing {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: url('/images/landing/keyboard.png') no-repeat bottom center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 60px;

  & > .ethereum-landing-inner {
    position: relative;
    width: 100%;
    height: 100%;

    & > .ethereum-landing-reference, & > .ethereum-landing-wiki {
      position: absolute;
      top: 0;
      & > h1 {
        color: #666;
      }
      & > ul {
        margin: 0;
        padding: 0;
        list-style: none;
        & > li {
          & > a {
            color: #aaa;
            &:hover {
              color: #fff;
            }
          }
        }
      }
    }

    & > .ethereum-landing-reference {
      left: 0;
      text-align: left;
    }

    & > .ethereum-landing-wiki {
      position: absolute;
      right: 0;
      text-align: right;
    }

    & > .ethereum-landing-logo {
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 199px;
      height: 50px;
      background: url('/images/ETH_DEV_LOGO.svg') no-repeat top left;
    }
  }
}


/*.ethereum-landing {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  & > .ethereum-tile {
    position: absolute;
    left: 0;
    right: 0;
    height: 50%;
    background: $tile-background;
    color: #cecece;
    -webkit-transition: height 0.5s ease-in-out;
    -moz-transition: height 0.5s ease-in-out;
    transition: height 0.5s ease-in-out;
    &:nth-child(1) {
      top: 0;
      &:after {
        position: absolute;
        width: 100%;
        bottom: 0;
        display: block;
        content: '';
        border-top: 1px solid $tile-separator-dark-color;
      }
      &.expanded {
        &:after {
          border-bottom: 1px solid $tile-separator-light-color;
        }
      }
    }
    &:nth-child(2) {
      bottom: 0;
      &:before {
        position: absolute;
        width: 100%;
        top: 0;
        display: block;
        content: '';
        border-bottom: 1px solid $tile-separator-light-color;
      }
      &.expanded {
        &:before {
          border-top: 1px solid $tile-separator-dark-color;
        }
      }
    }
    & > .ethereum-tile-inner {
      height: 100%;
      padding: 30px;
      opacity: 1;
      -webkit-transition: opacity 0.5s ease-in-out;
      -moz-transition: opacity 0.5s ease-in-out;
      transition: opacity 0.5s ease-in-out;
      & > h1 {
        margin: 0 0 30px 0;
        padding: 0;
      }
    }
    &.expanded {
      height: 100%;
      z-index: 999;
      & > .ethereum-tile-inner {
        opacity: 0;
      }
    }
  }
}*/







.ui-select-bootstrap > .ui-select-choices {
  &.ui-compound-sidebar {
    position: relative;
    max-height: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
}




.language {
  display: inline-block;
  float: left;
  width: 16px;
  height: 12px;
  margin-right: 5px;
  margin-top: 4px;
  border: 1px solid #ccc;
  &.english {
    background: url('/images/flags/english.png') no-repeat center;
  }
  &.japanese {
    background: url('/images/flags/japanese.png') no-repeat center;
  }
}


