<div class="fullscreen animated" ng-style="{background:background}">
    <header class="row er-page-header">
        <a ui-sref="landing" class="navbar-logo"></a>
        <ul>
            <li class="active"><a ui-sref="page.reference.index">Reference</a></li>
            <li><a ui-sref="page.wikis.index">Wikis</a></li>
            <li><a ui-sref="page.tutorials">Tutorials</a></li>
            <li><a ui-sref="page.status">Status</a></li>
        </ul>
        <div class="er-banner"></div>
    </header>
    <div class="container-fluid" ui-view=""></div>
</div>